In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:/Users/iop03/OneDrive/바탕 화면/갸울 방학 공부/ai/data/iris.csv', index_col=0)
df

,sepal width (cm),petal length (cm),petal width (cm),label
sepal length (cm),,,,
5.1,3.5,1.4,0.2,0
4.9,3.0,1.4,0.2,0
4.7,3.2,1.3,0.2,0
4.6,3.1,1.5,0.2,0
5.0,3.6,1.4,0.2,0
...,...,...,...,...
6.7,3.0,5.2,2.3,2
6.3,2.5,5.0,1.9,2
6.5,3.0,5.2,2.0,2
6.2,3.4,5.4,2.3,2
5.9,3.0,5.1,1.8,2

In [3]:
y = df['label']
y

sepal length (cm)
5.1    0
4.9    0
4.7    0
4.6    0
5.0    0
      ..
6.7    2
6.3    2
6.5    2
6.2    2
5.9    2
Name: label, Length: 150, dtype: int64

In [4]:
x = df.drop('label', axis=1)

In [5]:
y = x['petal width (cm)']

In [6]:
x = x.drop(columns=['petal width (cm)'], axis = 1)

In [7]:
x

                   sepal width (cm)  petal length (cm)
sepal length (cm)
5.1                             3.5                1.4
4.9                             3.0                1.4
4.7                             3.2                1.3
4.6                             3.1                1.5
5.0                             3.6                1.4
...                             ...                ...
6.7                             3.0                5.2
6.3                             2.5                5.0
6.5                             3.0                5.2
6.2                             3.4                5.4
5.9                             3.0                5.1

[150 rows x 2 columns]

In [8]:
# train & test

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((112, 2), (38, 2), (112,), (38,))

In [9]:
# DT
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeRegressor

clf_dt = DecisionTreeRegressor()
clf_dt.fit(x_train, y_train)

pred_dt = clf_dt.predict(x_test)

print(clf_dt.score(x_train, y_train))

0.9930903540710531

In [10]:
mse = np.sqrt(mean_squared_error(pred_dt, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.2653200649067184

In [11]:
# RF
from sklearn.ensemble import RandomForestRegressor

rf_clf = RandomForestRegressor()
rf_clf.fit(x_train, y_train)

pred_rf = rf_clf.predict(x_test)

print(rf_clf.score(x_train, y_train))

0.9866594117920517

In [12]:
mse = np.sqrt(mean_squared_error(pred_rf, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.22325017732961855

In [13]:
# LR
from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()
clf_lr.fit(x_train, y_train)

pred_lr = clf_lr.predict(x_test)

print(clf_lr.score(x_train, y_train))

0.9381220859601226

In [14]:
mse = np.sqrt(mean_squared_error(pred_lr, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.2236871806666592

In [15]:
# SVM
from sklearn.svm import SVR

clf_svm = SVR()
clf_svm.fit(x_train, y_train)

pred_svm = clf_svm.predict(x_test)

print(clf_svm.score(x_train, y_train))

0.956145950320912

In [16]:
mse = np.sqrt(mean_squared_error(pred_svm, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 0.2083308721902075